.BarChart{

    height:40%;
    width:100%;

    th{
        font-size: 1rem;
        color:rgb(240, 238, 238);
    }
    td{
        font-size: 1rem;
        color:#ddd;
    }     
    .bar{
        display: flex;
        flex-direction: row;
    }
    table{
        height: 100%;
        width: 100%;
    }
}



@media only screen and (min-width: 740px) and (max-width:960px){
    .BarChart{
        height:100%;
        width:40%;

        th,td{
            font-size: 1.3rem;
        }
    }
}

@media only screen and (min-width: 960px) {
    .BarChart{
        height:100%;
        width:40%;

        th,td{
            font-size: 1.9rem;
        }
    }
}

