.Stats{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;

    .profile_picture{
        height: 40%;
        width: 90%;
        // background-position: top;
    }

    .statsBar{
        height: 50%;
        width: 100%;
    }
    
}